@charset "UTF-8";
/* 
 #EDB4B4
 #EBA7A7
 #D4A1A1
 #CC7777
 #CD8162
*/
*{
    margin: 0px;
    padding: 0px;
}

body,html{
    background-color: #EBA7A7;
}

header{
    background-color: antiquewhite;
    height: 50px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    background-color: aliceblue;
    margin: 10px;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin: 15px;
    list-style: none;
    
}

 .imgbolo{
    background-color: aquamarine;
    height:40vh
 }

 .img2{
    background-image: url(../imagem/pexels-сослан-8802102.jpg);
    
 }